.field
  = f.label :title
  = f.text_field :title
.field
  = f.label :start_time
  = f.datetime_select :start_time, use_month_numbers: true, default: Time.now, minute_step: 5
.field
  = f.label :end_time
  = f.datetime_select :end_time, use_month_numbers: true, default: Time.now, minute_step: 5
.field
  = f.label :note
  = f.text_area :note, class: "span8", rows: 15, cols: 40
