
<h1>Editing schedule</h1>

<%= form_for( :schedule, url: schedule_path( @schedule ), method: :put, html: { class: "schedules_form" } ) do |f| %>
  <% if @schedule.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@schedule.errors.count, "error") %> prohibited this schedule from being saved:</h2>

      <ul>
      <% @schedule.errors.full_messages.each{ |msg| %>
        <li><%= msg %></li>
      <% } %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>

<% if false %>
  <div class="field">
    <%= f.label :set_date %><br />
    <%= f.date_select :set_date %>
  </div>
<% end %>

  <div class="field">
    <%= f.label :start_time %><br />
    <%= f.datetime_select :start_time, use_month_numbers: true, default: Time.now, minute_step: 5 %>
  </div>

  <div class="field">
    <%= f.label :end_time %><br />
    <%= f.datetime_select :end_time, use_month_numbers: true, default: Time.now, minute_step: 5 %>
  </div>

  <div class="field">
    <%= f.label :note %><br />
    <%= f.text_area :note, class: "span8" %>
  </div>

  <div class="actions">
    <%= f.submit t( "menu.update" ), data: { 'disable-with' => t( "menu.update" ) } %>
  </div>
<% end %>

<p>
  <%= link_to t( "menu.show" ), schedule_path( @schedule ) %>
   | <%= link_to t( "menu.destroy" ), schedule_path( @schedule ), method: :delete, data: { confirm: '本当に削除してよろしいですか？' } %>
</p>

<p><%= link_to t( "menu.list" ), schedules_path %></p>
