%h3= link_to(@now_date.strftime("%Y年"), schedules_path)

%ul.pagination
  %li= link_to '前年', schedules_path(now_date: @now_date.ago(1.year).to_date)
  - 1.upto(12) do |month|
    %li{ class: (@now_date.month == month ? "active" : "") }
      = link_to "#{month}月", schedules_path(now_date: "#{@now_date.year}-#{month}-01")
  %li= link_to '次年', schedules_path(now_date: @now_date.since(1.year).to_date)

= render partial: '/schedules/calendar', locals: { now_date: @now_date, holiday_hash: @holiday_hash, schedule_hash: @schedule_hash, off_days: @off_days, current_page: 1 }

- # オートページャー用
= hidden_field_tag :autopager_on, true
= hidden_field_tag :target_month, @now_date.strftime("%Y-%m")
= hidden_field_tag :current_page, 1
