
<!-- <h1>Listing schedules</h1> -->

<% if false %>
<table>
  <tr>
    <th>User</th>
    <th>Title</th>
    <th>Set date</th>
    <th>Note</th>
    <th>Start time</th>
    <th>End time</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @schedules.each{ |schedule| %>
  <tr>
    <td><%= schedule.user_id %></td>
    <td><%= schedule.title %></td>
    <td><%= schedule.set_date %></td>
    <td><%= schedule.note %></td>
    <td><%= schedule.start_time %></td>
    <td><%= schedule.end_time %></td>
    <td><%= link_to t( "menu.show" ), schedule_path( schedule ) %></td>
    <td><%= link_to t( "menu.edit" ), edit_schedule_path( schedule ) %></td>
    <td><%= link_to t( "menu.destroy" ), schedule_path( schedule ), method: :delete, data: { confirm: '本当に削除してよろしいですか？' } %></td>
  </tr>
<% } %>
</table>

<br />

<%= link_to t( "menu.new" ), new_schedule_path %>

<br />
<br />

<%= link_to t( "menu.top" ), :root %>

<br />
<br />
<% end %>


<div class="calendar_area">
<table class="calendar">
  <tr>
    <th class="sunday">日</th>
    <th>月</th>
    <th>火</th>
    <th>水</th>
    <th>木</th>
    <th>金</th>
    <th class="saturday">土</th>
  </tr>

  <tr>
    <% @now_date.beginning_of_month.wday.times{ %>
      <td><br /></td>
    <% } %>

    <% (@now_date.beginning_of_month..@now_date.end_of_month).each{ |now_day| %>
      <%# 土日祝日判定 %>
      <% if now_day.wday == 0 or @holiday_hash.has_key?(now_day) %>
        <% day_class = "sunday" %>
      <% elsif now_day.wday == 6 %>
        <% day_class = "saturday" %>
      <% end %>

      <%# 今日判定 %>
      <% if now_day.day == Time.now.day %>
        <% today_class = "today" %>
      <% end %>

      <% if now_day.wday == 0 %><tr><% end %>

      <%# 内容 %>
      <td class="<%= day_class %> <%= today_class %>">
        <%= link_to( now_day.day, new_schedule_path(date: now_day) ) %><br />
        <% schedule = @schedule_hash[now_day.strftime("%Y_%m_%d")] %>
        <% if schedule.present? %>
          <%# ツールチップ内容 %>
          <% tooltip = (schedule.start_time.strftime("%m/%d %H:%M") if schedule.start_time.present?) + "〜" + (schedule.end_time.strftime("%m/%d %H:%M") unless schedule.end_time.blank?) + "\n#{raw show_markdown(schedule.note)}" %>

          <%# スケジュールリンク %>
          <%= link_to( schedule.title, edit_schedule_path(schedule), rel: "tooltip", data: { 'original-title' => tooltip } ) %>
          <br />
        <% end %>
      </td>

      <% if now_day.wday == 6 %></tr><% end %>
    <% } %>

    <% (6 - @now_date.end_of_month.wday).times{ %>
      <td><br /></td>
    <% } %>
  </tr>
</table>
</div>