
<h3><%= @now_date.strftime("%Y年%m月") %></h3>

<br />
<%= link_to( "今日", schedules_path( now_date: Time.now.strftime("%Y-%m-01") ) ) %>
<br />
<%= link_to( "前月", schedules_path( now_date: @now_date.ago(1.month).strftime("%Y-%m-01") ) ) %>
<%= link_to( "次月", schedules_path( now_date: @now_date.since(1.month).strftime("%Y-%m-01") ) ) %>
<br />

<div class="calendar_area">
<table class="calendar">
  <tr>
    <th class="sunday">日</th>
    <th>月</th>
    <th>火</th>
    <th>水</th>
    <th>木</th>
    <th>金</th>
    <th class="saturday">土</th>
  </tr>

  <tr>
    <% @now_date.beginning_of_month.wday.times{ %>
      <td><br /></td>
    <% } %>

    <% (@now_date.beginning_of_month..@now_date.end_of_month).each{ |now_day| %>
      <%# 土日祝日判定 %>
      <% if now_day.wday == 0 or @holiday_hash.has_key?(now_day) %>
        <% day_class = "sunday" %>
      <% elsif now_day.wday == 6 %>
        <% day_class = "saturday" %>
      <% end %>

      <%# 今日判定 %>
      <% if now_day.strftime("%Y/%m/%d") == Time.now.strftime("%Y/%m/%d") %>
        <% today_class = "today" %>
      <% end %>

      <% if now_day.wday == 0 %><tr><% end %>

      <%# 内容 %>
      <td class="<%= day_class %> <%= today_class %>">
        <%= link_to( now_day.day, new_schedule_path(date: now_day) ) %><br />
        <% schedule = @schedule_hash[now_day.strftime("%Y_%m_%d")] %>
        <% if schedule.present? %>
          <%# ツールチップ内容 %>
          <% tooltip = (schedule.start_time.strftime("%H:%M") if schedule.start_time.present?) + "〜" + (schedule.end_time.strftime("%H:%M") unless schedule.end_time.blank?) + "\n#{raw show_markdown(schedule.note)}" %>

          <%# スケジュールリンク %>
          <%= link_to( schedule.title, edit_schedule_path(schedule), rel: "tooltip", data: { 'original-title' => tooltip } ) %>
          <br />
        <% end %>
      </td>

      <% if now_day.wday == 6 %></tr><% end %>
    <% } %>

    <% (6 - @now_date.end_of_month.wday).times{ %>
      <td><br /></td>
    <% } %>
  </tr>
</table>
</div>