%p
  %b User:
  %br/
  = @schedule.user_id
%p
  %b Title:
  %br/
  = @schedule.title
%p
  %b Start time:
  %br/
  = @schedule.start_time.strftime("%Y/%m/%d %H:%M")
%p
  %b End time:
  %br/
  = @schedule.end_time.strftime("%Y/%m/%d %H:%M")
%p
  %b Note:
  %br/
  = raw markdown(@schedule.note)
= link_to t("menu.edit"), edit_schedule_path(@schedule)
| #{link_to t("menu.list"), schedules_path}
