
<p>
  <b>User:</b><br />
  <%= @schedule.user_id %>
</p>

<p>
  <b>Title:</b><br />
  <%= @schedule.title %>
</p>

<p>
  <b>Start time:</b><br />
  <%= @schedule.start_time.strftime("%Y/%m/%d %H:%M") %>
</p>

<p>
  <b>End time:</b><br />
  <%= @schedule.end_time.strftime("%Y/%m/%d %H:%M") %>
</p>

<p>
  <b>Note:</b><br />
  <%= raw show_markdown(@schedule.note) %>
</p>

<%= link_to t( "menu.edit" ), edit_schedule_path( @schedule ) %>
 | <%= link_to t( "menu.list" ), schedules_path %>
